.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    cursor: pointer;
    display: flex;
    margin-left: 25px;
    gap: 25px;
}
.your-info{
    display: flex;
    width: 600px;
    gap: 50px;
}
.nav-text{
    text-decoration: none;
    color: #A3876E;
    font-size: 20px;
    
}
hr{
    width: 2px;
}
.hr-header{
    width: 1px;
    height: 27px;
    background-color: #4A3D31;
    border: none;
}
.info-img-basket{
    margin-top: 15px;
    width: 51px;
    height: 51px;
}
.info-img-profile{
    width: 41px;
    height: 41px;
}
.basket{
    display: flex;
    align-items: center;
    gap: 200px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 5px;
}
.burger{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    display: none;
}
.logo{
    width: 130px;
    margin-left: 50px;
}
.hrHeader{
    width: 100%;
    height: 3px;
    border: none;
    margin-top: -15px;
    background: #E6C09D;
}

@media screen and (max-width: 1300px) {
    .nav-menu{
        display: none !important;
    }
    .your-info{
        display: none !important;
    }
    .burger{
        display: block;
    }
}